body{
    margin: 0;
    box-sizing: border-box;
}
/*FONDO*/
.Main-Sec-Inicio{
    background-image: url('../IMG/img-bg-medicamentos.png');
    background-repeat: no-repeat;
    background-position: right;
}
.Sec-Inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 120px;
    text-align: right;
    margin: 0 7rem;
}
.Sec-Inicio img{
    width: 100%;
    min-width: 70vh;
    float: left;
}
.text-Sec-Inicio{
    padding-left: 15rem;
}
/*MEDICAMENTOS*/
.text-Sec-Inicio h2{
    color: #18468B;
    font-size: 65px;
    margin: 0%;
}
/*BOTON*/
.btn-Medicam{
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    background-color: #2782FF;
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 300;
}
/*FUENTES DE BOTON Y "MEDICAMENTOS"*/
.text-Sec-Inicio h2,
.btn-Medicam{
    font-family: 'Poppins', sans-serif;
}
/*"CONOCE UN POCO MAS ACERCA DE LOS FARMACOS"*/
.text-Sec-Inicio h3{
    color: #28A174;
    font-size: 35px;
    font-weight: 300;
    margin: auto;
}
/*TEXTO EXPLICATIVO*/
.text-Sec-Inicio p{
    padding-bottom: 16px;
    text-align: right;
    padding-left: 8rem;
    font-weight: 400;
    font-size: 18px;
}
/*FUENTES DE "CONOCE UN POCO MAS ACERCA DE LOS FARMACOS" Y "MEDICAMENTOS"*/
.text-Sec-Inicio h3,
.text-Sec-Inicio p{
    font-family: 'Roboto', sans-serif;
}

/*MIN 360PX CELULAR
@media (max-width: 900px) {
    section{
        background-image: none;
        display: block;
    }
    .Sec-Inicio{
        margin: 0;
        padding: 1rem;
        display: block;
    }
    .Sec-Inicio img{
        padding: 1rem 0;
        min-width: 30vh;
    }
    .text-Sec-Inicio{
        padding: 0 1rem;
        width: auto;
        text-align: left;
    }
    .text-Sec-Inicio h2{
        font-size: 29px;
    }
    .text-Sec-Inicio h3{
        font-size: 25px;
    }
    .text-Sec-Inicio p{
        padding: 0 0 1rem 0;
        font-size: 15px;
        text-align: left;
    }
    .btn-Medicam{
        font-size: 14px;
        font-weight: 600;
    }
    
}*/
