.sites{
    margin-top: 2rem;
    border-bottom: 2px solid;
}
.section-sites .btn{
    width: 50%;
    margin-top: 1rem;
    color: var(--bg-nav);
    background-color: var(--sites);
}

@media screen and (min-width: 768px) {
    .section-sites h3,
    .section-sites p{
        order: -2;
    }
    .section-sites .btn{
        width: 12rem;
        order: -1;
        margin-top: 0;
    }
}