.nav-medicine{
    background-color: #FCFCFC;
}
.container-header-medicine{
    background-image: url('../assets/images/img-bg-medicamentos.png');
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
}
.container-image-medicine{
    width: 80%;
    margin: auto;
}
@media (min-width: 900px){
    .container-image-medicine{
        width: 40%;
    }
}