*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&family=Roboto:wght@400;500;700;900&display=swap');

/* componente tarjeta*/
.card{
    margin: 4rem 1.5rem 1.5rem 1.5rem;
    position: relative;
    border: none;
}

div{
    height: 350px;
    width: 250px;
    border: none;
    border-radius: .5em ;
    text-align: center; 
    background-color: #DCFFF4;
    position: absolute;
    box-shadow: 3px 4px 10px  #C7C7C7;
}

#div1 + #div2{
    width: 130px;
    height: 130px;
    background-color: gray;
    top: -60px;
    left: 66px;    
}

#div2{
    background-image: url("assets_lourdes/farmacia2.webp");
    background-size: cover;
    border: none;
}

/* contenido tarjeta */
#div1{
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h4, .card li{
    color: #0A1E3D;
}

.card h4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
    padding: 0;
}

.card ul{
    margin: 0;
    padding: 0;
    line-height: 2em;
    text-align: left;
}

.card li{
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

/* botones */
.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button{
    width: 45%;
    height: 2rem;
    text-align: center;
    padding-top: .6em;
    border: 1px solid #2782ff;
    border-radius: .4rem;
    color: #2782ff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#maps{
    background-color: #2782ff;
    color: #FFFFFF;
}

/* seccion de farmacias */
.titleSection{
    padding-top: 3rem;
    width: 100%;
    background-image: linear-gradient(#36EDA9, #fdfdfd);
}

#title{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #0A1E3D;
    width: 25vw;
    border-bottom: 2px solid #424676;
    margin: 1.5rem 1rem ;
}
.sectionp{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buttonPharmacy{
    width: 100%;
    border-bottom: 2px solid #424676;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #0A1E3D;
    list-style: none;
    cursor: pointer;
}

.dropDownList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dropDownList li{
    list-style: none;
}



/* responsive desing */

/* small device max-width= 414px */
@media (min-width: 414px) and (max-width: 768px) {
    .card{
        margin: 1.5rem 5.5rem 1.5rem 5.5rem;
        position: relative;
        border: none;
    }
    div{
        height: 220px;
        width: 350px;
        border: none;
        border-radius: .5em ;
        /* text-align: center;  */
        background-color: #EAFAF1;
        position: absolute;
    }
    #div1 + #div2{
        width: 130px;
        height: 150px;
        background-color: #FEF9E7;
        top: 25px;
        left: -50px;
    }
    .pharmacy{
        overflow: scroll;
    }
    ::-webkit-scrollbar {
        display: none;
    }

    /* contenido tarjeta */
    #div1{
        padding-left: 5.5rem;
    }
    .card h4, .card li{
        color: #0A1E3D;
    } 
    .card h4{
        margin-top: 0;
        padding-top: 0;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 1.3rem;
        /* margin-left: 5rem; */
        padding: 0;
    } 
    .card ul{
        margin: 0;
        padding: 0;
        line-height: 1.5em;
        text-align: left;
    } 
    .card li{
        font-family: 'Poppins', sans-serif;
        list-style: none;
        margin: 0;
    }
    /* botones */
    .buttons{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0;
    }
    .button{
        width: 45%;
        height: 2rem;
        text-align: center;
        padding-top: .1em;
        border: 1px solid #2782ff;
        border-radius: .4rem;
        color: #2782ff;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    #maps{
        background-color: #2782ff;
        color: #FFFFFF;
    }
}
/* medium devicw max-width = 768px */
/* @media (max-width: 768px ){

} */
/* large device min-widht = 768px */
/* @media (min-width: 768px){

} */