.container-cards{
    gap: 20px;
}

.card-farmacia {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 550px;
    margin:20px 20px 20px 50px;
    padding: 50px 20px 50px 0px;
    background: #ffffff;
    border-radius: 24px;
    color: var(--text-color);
    box-shadow: 0 20px 40px rgb(0 0 0 / 10%);
}

.card-farmacia img {
    max-width: 280px;
    width: 28vw;
    height: 265px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.card-farmacia h2 {
    font-size: 22px;
    margin-right: 30px;
}

.card-farmacia h3 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(0 0 0 / 90%);
}

.button-call{
    border: 2px solid var(--color-secondary);
    color: var(--color-secondary);
    transition: all 0.3s ease-in-out;
}

.button-call:hover{
    background: var(--color-secondary);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.button-map{
    border: 2px solid var(--color-secondary);
    background: var(--color-secondary);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.button-map:hover{
    background: #fff;
    color: var(--color-secondary);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 900px) {
    .container-cards{
        padding: 0px 0px 0px 0px !important;
    }

    .card-farmacia {
        width: 90%;
        margin: 0 auto;
        margin-top: 70px;
        padding-left: 40px !important;
        padding-right: 40px !important;
        text-align: center;
        flex-direction: column;
    }

    .card-farmacia h2 {
        margin-right: 0;
        font-size: 26px;
    }

    .card-farmacia img {
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
    }
}