.btn::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.btn:hover::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.none{
    display: none !important;
}

.body-login {
    background-image: url("../assets/images/bg-login.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 800px 1000px;
}

.button-back {
    color: white;
    background-color: var(--text-color);
    letter-spacing: 3px;
    font-family: var(--font-title);
    border: none;
}

.btn-title {
    color: var(--text-color);
    letter-spacing: 2px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--text-color);
}

.btn-title-off {
    color: var(--bg-color-comments);
    border-bottom: 3px solid var(--bg-color-comments);
}

.social{
    color: var(--text-color);
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 .4rem;
	height: 2.5rem;
	width: 2.5rem;
}

.form-check-input:checked {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

.form-check-label{
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: normal;
    background-color: transparent !important;
    cursor: pointer;
}

.social-container a{
    color: var(--text-color);
}

.form-login fieldset input {
    height: 55px;
    background-color: transparent;
    box-shadow: 0px 3px 8px 0px rgba(3, 65, 114, 0.20);
    border-radius: 22px;
}

.form-login fieldset input:focus {
    outline: none;
    border: 2px dashed var( --color-primary);
}

.form-login fieldset input::placeholder {
    color: #034272af;
    font-family: var(--font-text);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight:normal;
}

.input-iconify {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-iconify input {
    padding-left: 60px; 
    border: none;
}

.input-iconify .iconify-left {
    color: var(--text-color);
    position: absolute;
    bottom: 15px;
    left: 15px; 
}

.input-iconify .password-toggle {
    position: absolute; 
    top: 55%;
    right: 50px;
    cursor: pointer;
}

.btn-login-disabled{
    background-color: #bababa;
    color: var(--text-color);
    border-radius: 22px;
    font-family: var(--font-text);
    letter-spacing: 1px;
    border: none;
    box-shadow: 0px 3px 8px 0px rgba(3, 65, 114, 0.20);
    cursor: not-allowed;
}

.error{
    position: absolute;
    bottom: -3.5rem;
    left: 0;
    font-size: .8rem;
    display: flex;
    gap: .3rem;
    color: #D93025;
}

.invalid input{
    border: 1px solid #D93025;
}

.container-img-login{
    justify-content: center;
}

.img-login{
    height: 90%;
}

.container-login-forgot-password a{
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bolder;
}

.btn-login{
    background-color: var(--color-primary);
    color: var(--text-color);
    border-radius: 22px;
    font-family: var(--font-text);
    letter-spacing: 1px;
    border: none;
    box-shadow: 0px 3px 8px 0px rgba(3, 65, 114, 0.20);
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 900px){
    .body-login{
        background-image: none;
    }

    .main-login{
        flex-direction: column-reverse;
        background-image: url("../assets/images/bg-login-mobile.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 90% 50%;
        margin-bottom: 40px;
    }

    .img-login{
        width: 220%;
    }

    .container-img-login{
        width: 100% !important;
        height: 70vh;
        padding: 0px !important;
        justify-content: center !important;
        margin: auto;
    }

    .main-login .container-form-login, .main-login .container-titles-login{
        width: 100% !important;
    }

    .main-login .container-login-forgot-password a{
        text-align: center;
    }
}

@media screen and (min-width: 740px) and (max-width: 900px){
    .main-login{
        background-size: 95% 60%;
    }
}

@media screen and (min-width: 740px) {
    .error{
        bottom: -3rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1800px){
    .body-login{
        background-size: 800px 1200px;
    }
}

@media screen and (min-width: 1800px) and (max-width: 2500px){
    .body-login{
        background-size: 1000px 1200px;
    }

    .container-img-login{
        justify-content: center;
        margin: 0px !important;
    }
}