@import url("default.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    color: var(--text-color) !important;
    background-color: #fdfdfd;
}

:root {
    --font-title: 'Roboto', sans-serif;
    --font-text: 'Poppins', sans-serif;
    --text-color: #0A1E3D;
    --text-color-light: #18468B;
    --color-primary: #36EDA9;
    --color-secondary: #338DFF;
    --color-tertiary: #82D1FF;
    --color-quaternary: #28A174;
    --color-underline: #4674B7;
    --bg-color-container: #F1F1F1;
    --bg-color-comments: #D9D9D9;
}

h1,
h2,
h3, 
nav a,
nav .btn{
    color: var(--font);
    font-family: 'Roboto', sans-serif;
}

.btn{
    background: transparent;
    border: 1px solid;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.btn::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.btn:hover::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

main{
    height: fit-content;
    background: linear-gradient(180deg, #D2FFEE 10%, #2984FF 100%);
}
