.container-header-medicine{
    background-image: url('../assets/images/img-bg-medicamentos.png');
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
}
