.container-table-farmacy{
    padding: 3rem 1.5rem;
}
.title-farmacy {
    border-bottom: 2px solid;
}
.container-table{
    width: 90%;
    max-height: 450px;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.166);
}
.table-farmacy {
    width: 100%;
    background-color: var(--table-color);
}
.table-farmacy th {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 3px solid var(--bg-color-container);
}
.table-farmacy tr {
    font-size: 1rem;
    border-bottom: 2px dashed #ffffffd3;
}
.border-right-cell {
    border-right: 3px solid var(--bg-color-container); 
}
.container-table:hover{
    overflow-y: scroll;
}
@media (min-width: 736px) and (max-width: 2000px) {
    .container-table{
        max-width: 1100px;
        max-height: 550px;
    }
    .table-farmacy th{
        font-size: 1.7rem;
    }
    .table-farmacy tr{
        font-size: 1.3rem;
    }
}
