.title-farmacy {
    border-bottom: 3px solid var(--text-color);
    width: fit-content;
}

.table-farmacy {
    width: 90%;
    background-color: var(--text-color);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}


.table-farmacy th {
    border-bottom: 3px solid #ffffff;
}

.table-farmacy tr {
    border-bottom: 2px dashed #ffffffd3;
}


.border-right-cell {
    border-right: 3px solid #ffffff; 
}

/* Media Query */

@media (min-width: 736px) and (max-width: 2000px) {
    .title-farmacy {
        width: 95%;
        margin: 0 auto;
        text-align: start;
        padding: 0 0 0 20px;
    }
}
