/* Estilos generales para borrar en el merge */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto:wght@300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-nav: #FFF;
    --bg: #D0FFF2;
    --under: #4674B7;
    --font: #0A1E3D;
    --sites: #034172;
}
h1,
h2,
h3, 
nav a,
nav .btn{
    color: var(--font);
    font-family: 'Roboto', sans-serif;
}
.btn{
    background: transparent;
    border: 1px solid;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
.btn::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.btn:hover::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

/* Estilos nav */
.logo img{
    width: 3.5rem;
    margin-right: .5rem;
    filter: drop-shadow(1px 2px 2px #888);
}
.logo .navbar-brand,
.navbar-collapse .btn{
    font-weight: 500;
}
.nav-link{
    width: fit-content;
}
.navbar-collapse .btn{
    padding: .5rem;
    font-size: .9rem;
    border-color: #36EDA9;
}
.navbar-collapse .btn:hover{
    color: var(--bg-nav);
}
.navbar-collapse .btn::after{
    background: #36EDA9; 
}
.active{
    border-bottom: 1px solid var(--font);
}

@media screen and (min-width:992px){
    .navbar-collapse{
    justify-content: flex-end;
    }
}

