/* caja de medicamentos */
:root{
    --bg-color: #FFFFFF;
    --bg-colortwo:#93EECC;
    --text-size-box: 12px;
    --border-size: 1.5px;
}

.underline-title{
    border-bottom: 1px solid var(--text-color);
}

.underline-title h3{
    color:var(--text-color);
    text-align: start;
    padding: 10px 0  0 10px;
}

.maps-title p{
    padding: 10px 0 0 10px;
}

.medicineBox{
    width: 350px;
    height: 200px;
    margin: 2.5rem;
    position: relative;
    transform-style: preserve-3d;
}

.frontBox{
    background-color: var(--bg-color);
    width: 350px;
    height: 200px;
    border: var(--border-size) solid var(--text-color);
    flex-direction: column;
    padding: .3rem;
}

.topBox{
    background-color: var(--color-secondary) ;
    width: 350px;
    height: 10px;
    transform: skewX(-55deg) translateX(7px);
    border-top: var(--border-size) solid var(--text-color);
    border-left: var(--border-size) solid var(--text-color);
    border-right: var(--border-size) solid var(--text-color);
}

.rightBox{
    background-color: #6ECEF2;
    width: 14px;
    height: 200px;
    transform: skewY(-35deg) translateY(40px) translateX(350px);
    border-right: var(--border-size) solid var(--text-color);
    border-top: var(--border-size) solid var(--text-color);
    border-bottom: var(--border-size) solid var(--text-color);
}

#nameContent{
    line-height: 5px;
}

#nameContent h4{
    font-weight: 600;
}

.textContent{
    font-size: var(--text-size-box);
}

/* background */
.sectionMedicineFree header{
    background-image: linear-gradient(
        var(--bg-colortwo),
        var(--bg-color)
    );
}
/* vista de la lista de cajas */
.list-medicineBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
