@import url("general.css");

header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: var(--bg-color-container);
    color: var(--text-color);
}


.maps-title h2 {
    font-family: var(--font-title);
    padding-top: 10px;
    font-size: 30px;
    border-bottom: 2px solid var(--color-underline)
}

.maps-title p {
    font-family: var(--font-text);
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
}


@media(max-width:991px){
    .maps-title {
        text-align: left;
    }
}