@import url("general.css");

body{
    padding-top: 0;
    padding-bottom: 20px;
}

.title-types{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

h1{
    color: var(--text-color);
    font-family: var(--font-title);
    border-bottom: 2px solid var(--text-color);
}

.title-types p{
    font-family: var(-font-text);
    padding-top: 10px;
    color: var(--color-underline);
} 

.container{
    padding-top: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h2{
    color: var(--text-color);
    font-family: var(--font-title);
    text-align: center;
    margin: 0;
    border-bottom: 1px solid var(--text-color);
}
.card p{
    font-family: var(-font-text);
    padding-top: 10px;
    color: var(--text-color-light);
    text-align: left;
}

.card{
    border-radius: 6px;
    background-color: var(--bg-color-comments);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    padding: 20px 15px;
    text-align: justify;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

@media(min-width: 480px){
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    
    .card{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}