* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-text);
    color: var(--text-color);
}
:root {
    --font-title: 'Roboto', sans-serif;
    --font-text: 'Poppins', sans-serif;
    --text-color: #0A1E3D;
    --text-color-light: #18468B;
    --color-primary: #36EDA9;
    --color-secondary: #338DFF;
    --color-tertiary: #82D1FF;
    --color-quaternary: #28a174;
    --color-underline: #4674B7;
    --bg-color-container: #F1F1F1;
    --bg-color-comments: #D9D9D9;
    --table-color: #034172;
}
h3,
h4{
    color: var(--text-color-light);
    font-family: var(--font-title);
}

.title-syringe h3{
    border-bottom: 2px solid;
    letter-spacing: 2px;
}

main{
    font-family: var(--font-text);
}

.card-syringe{
    width: 40%;
    border: 2px solid var(--text-color);
    box-shadow: 10px 10px 10px #00000010;
}

@media (max-width: 768px) {
    .container-image-syringe{
        display: flex;
        justify-content: center;
    }

    .container-cards-syringe {
        flex-direction: column;
    }

    .card-syringe {
        margin: 0 auto;
        flex-direction: column;
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .container-cards-syringe {
        flex-wrap: wrap;
    }
    .card-syringe {
        flex-direction: column;
        width: calc(50% - 20px); 
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .card-syringe:last-child {
        margin-right: 0;
    }
}